{% extends 'base.html' %} <!-- base.html의 내용을 가져오겠다. -->
{% load staticfiles %}
{% block content %}
 <!-- Main Content -->
 <br><br>  
 <div class="container">
    <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">To Do</h3>
        <h2 class="mb-5">상세과제</h2>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form method="POST" name="editMessage" id="contactForm" novalidate>
            {% csrf_token %}
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                <h4>과제</h4>
                <p>{{item.name}}</p>
                <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                <h4>강의</h4>
                <p>{{item.course}}</p>
                <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                <h4>제출일</h4>
                <p>{{item.submission_date}}</p>
                <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                <h4>내용</h4>
                <p>{{item.content}}</p>
                <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
           
            <div class="form-group text-center">
                <a class="btn btn-primary" href="{% url 'edit' item.id %}">수정</a>
                <a class="btn btn-primary" href="{% url 'delete' item.id %}">삭제</a>
            </div>
            <div class="clearfix text-center">
                <a class="btn" href="{% url 'list' %}">&larr; 뒤로가기</a>
            </div>
        </div>
        </div>
</div>
 {% endblock %}